h1,h2 {
    font-family:Helvetica;
  }
  h1 {
    font size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center
    background-image: url(image1.webp);
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
  #brushes {
    background-color: mediumspringgreen;
  }
  #frames {
    background-color: lightcoral;
  }
  #paint {
    background-color: skyblue;
  }
  .class {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
  }
  span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
  }